@model OSRegister.Operator

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Operator</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OperatorName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OperatorName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OperatorRole)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OperatorRole)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Service)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Service.ServiceId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.OperatorId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
