@model IEnumerable<OSRegister.Client>

@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid">
<h1>Clients List</h1>

<p>
    <div class="btn btn-primary btn-sm">
        <a asp-action="Create" class="text-white">New Client</a>
    </div>
</p>


<table class="table table-striped thead-dark table-sm" id="ClientTable" width="100%">
    <thead>
        <tr>
            <th>Client Name</th>
            <th>E-mail</th>
            <th>Phone</th>
            <th>Adress</th>
            <th>Role</th>
            <th></th>
        </tr>
    </thead>
    <tbody class="table-striped">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ClientName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClientEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClientPhone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClientAdress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClientRole)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ClientId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ClientId">Client info</a> |
                    <a asp-action="Delete" asp-route-id="@item.ClientId">Delete Client</a>
                </td>
            </tr>
        }
    </tbody>
</table>




<table class="table">
    <thead>
        <tr>
            <th>
                Client Name
            </th>
            <th>
                Client E-mail
            </th>
            <th>
                Client Phone
            </th>
            <th>
                Client Adress
            </th>
            <th>
                Client Role
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ClientName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClientEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClientPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClientAdress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClientRole)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.ClientId">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.ClientId">Client info</a> |
            <a asp-action="Delete" asp-route-id="@item.ClientId">Delete Client</a>
        </td>
    </tr>
}
     </tbody>
</table>

</div>
