@model IEnumerable<OSRegister.Client>

@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid">
<h1>Clients List</h1>

<p>
    <div class="btn btn-primary btn-sm">
        <a asp-action="Create" class="text-white">New Client</a>
    </div>
</p>

<script>
    $(function () {
        $('#ClientTable').DataTable();
    });
</script>

<table class="table table-bordered table-striped table-sm table-hover" id="ClientTable">
    <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th>E-mail</th>
            <th>Phone</th>
            <th>Adress</th>
            <th>Role</th>
            <th></th>
        </tr>
    </thead>
    <tbody class="table-striped">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ClientName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClientEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClientPhone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClientAdress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClientRole)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ClientId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ClientId">info</a> |
                    <a asp-action="Delete" asp-route-id="@item.ClientId">Delete Client</a>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tf colspan="7" class="ts-pager">

        </tf>
    </tfoot>
 
</table>

<script>
    $(function () {
        $('#ClientTable').DataTable();
    });
</script>